{% extends "base.html" %}

{% block content %}

<h1>
    <style>
        .center {
            text-align: center;
        }
        
        #student_list {
            position: fixed;
            top: 15%;
            left: 50%;
            text-align: center;
            margin: 20px;
        }
        
        li {
            margin: 20px 0;
            font-size: 24px;
        }
    </style>
</h1>
<div id="student_list" >
    {{ curr_user }}
    <ul style="list-style-type:none;">
        {% for s in students %}
            <li> <a href="url"> {{s.name}} </a></li>
        {% endfor %}
        
    </ul>
</div>
{% endblock %}